In [4]:
import pandas as pd

data = pd.read_csv("data/소비자물가_06012210.csv", encoding = "euc-kr")
data = data.T
data.head(10)

                  0    1       2       3            4            5
지수종류(1)     지수종류(1)  총지수  생활물가지수  신선식품지수  농산물및석유류제외지수  식료품및에너지제외지수
2006.01     전월비 (%)  0.6     0.9     5.4          0.2          0.2
2006.01.1  전년동월비(%)  2.2     3.4     7.3          1.3          1.5
2006.01.2  전년누계비(%)  2.2     3.4     7.3          1.3          1.5
2006.02     전월비 (%)  0.2     0.3    -1.0          0.2          0.3
2006.02.1  전년동월비(%)  2.0     3.1    -0.2          1.3          1.6
2006.02.2  전년누계비(%)  2.1     3.2     3.4          1.3          1.6
2006.03     전월비 (%)  0.6     0.8     0.8          0.6          0.7
2006.03.1  전년동월비(%)  2.0     2.8    -0.3          1.4          1.8
2006.03.2  전년누계비(%)  2.1     3.1     2.2          1.3          1.6

In [5]:
data.columns = ["idx", "data", "etc1", "etc2", "etc3", "etc4"]
data.head(5)

                idx data    etc1    etc2         etc3         etc4
지수종류(1)     지수종류(1)  총지수  생활물가지수  신선식품지수  농산물및석유류제외지수  식료품및에너지제외지수
2006.01     전월비 (%)  0.6     0.9     5.4          0.2          0.2
2006.01.1  전년동월비(%)  2.2     3.4     7.3          1.3          1.5
2006.01.2  전년누계비(%)  2.2     3.4     7.3          1.3          1.5
2006.02     전월비 (%)  0.2     0.3    -1.0          0.2          0.3

In [6]:
data = data.iloc[:, :2]

In [7]:
data = data[data["idx"] == "전월비 (%)"]

In [8]:
data = data.iloc[:, 1]

In [9]:
data.to_csv("data/소비자물가.csv", header = None)