In [23]:
import pandas as pd
import numpy as np

data = pd.read_csv("청약 경쟁률.csv")
data.drop("Unnamed: 0", axis = 1, inplace = True)

In [24]:
data

,주택관리번호,공고번호,모델번호,주택형,공급세대수,순위,거주코드,거주지역,접수건수,경쟁률,최저당첨가점,최고당첨가점,평균당첨가점
0,2020000001,2020000001,1,059.0000H,118,1,1,해당지역,15685,132.92,-1.0,-1.0,-1.0
1,2020000001,2020000001,1,059.0000H,118,1,2,기타지역,0,NaN,NaN,NaN,NaN
2,2020000001,2020000001,1,059.0000H,118,2,1,해당지역,0,NaN,-1.0,-1.0,-1.0
3,2020000001,2020000001,1,059.0000H,118,2,2,기타지역,0,NaN,NaN,NaN,NaN
4,2020000001,2020000001,2,084.0000H,122,1,1,해당지역,18139,148.68,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26505,2022000612,2022000612,3,084.9118C,79,2,2,기타지역,1,69.00,NaN,NaN,NaN
26506,2022000612,2022000612,4,114.9688,40,1,1,해당지역,8,32.00,-1.0,-1.0,-1.0
26507,2022000612,2022000612,4,114.9688,40,1,2,기타지역,1,31.00,NaN,NaN,NaN
26508,2022000612,2022000612,4,114.9688,40,2,1,해당지역,6,25.00,-1.0,-1.0,-1.0
26509,2022000612,2022000612,4,114.9688,40,2,2,기타지역,4,21.00,NaN,NaN,NaN

In [30]:
a = data.groupby("주택관리번호").mean()
a

,공고번호,모델번호,순위,거주코드,접수건수,경쟁률,최저당첨가점,최고당첨가점,평균당첨가점
주택관리번호,,,,,,,,,
2020000001,2.020000e+09,2.0,1.5,1.5,3083.250000,182.060000,-1.000000,-1.000000,-1.000000
2020000005,2.020000e+09,6.0,1.5,1.5,16.409091,26.174286,-1.000000,-1.000000,-1.000000
2020000007,2.020000e+09,2.5,1.5,1.5,1.250000,14.562500,2.375000,5.125000,3.750000
2020000009,2.020000e+09,1.5,1.5,1.5,45.625000,14.050000,16.500000,25.250000,19.250000
2020000010,2.020000e+09,2.5,1.5,2.0,38.000000,64.655833,10.333333,52.333333,25.500000
...,...,...,...,...,...,...,...,...,...
2022000592,2.022001e+09,4.0,1.5,1.5,1.892857,108.826087,-1.000000,-1.000000,-1.000000
2022000598,2.022001e+09,5.0,1.5,1.5,10.333333,8.274000,4.388889,7.111111,5.722222
2022000601,2.022001e+09,2.0,1.5,1.5,0.583333,19.800000,NaN,NaN,NaN
2022000602,2.022001e+09,3.5,1.5,1.5,143.083333,11.700000,NaN,NaN,NaN
2022000612,2.022001e+09,2.5,1.5,1.5,8.500000,97.812500,-1.000000,-1.000000,-1.000000

In [34]:
rating = pd.DataFrame(a["경쟁률"])

In [39]:
rating

                   경쟁률
주택관리번호
2020000001  182.060000
2020000005   26.174286
2020000007   14.562500
2020000009   14.050000
2020000010   64.655833
...                ...
2022000592  108.826087
2022000598    8.274000
2022000601   19.800000
2022000602   11.700000
2022000612   97.812500

[1188 rows x 1 columns]